*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
table{
    height:auto;
display:flex;
justify-content: center;
align-items: center;

}

.chess{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    
}
.box1{
    width:90px;
    height:90px;
    background-color: black;
    text-align: center;
    font-size:500%;
    color: gold;
}
.box2{
    width:90px;
    height: 90px;
    background-color:white;
    text-align: center;
    font-size: 500%;
    color: gold;
}